@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 16% 13%; /* Dark Cyan Foreground */
    --card: 0 0% 100%;
    --card-foreground: 210 16% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 16% 13%;
    --primary: 187 63% 53%; /* Cyan 500 */
    --primary-foreground: 187 100% 97%; /* Light Cyan */
    --secondary: 187 50% 70%; /* Lighter Cyan */
    --secondary-foreground: 187 25% 25%; /* Muted Cyan */
    --muted: 187 20% 95%; /* Very Light Cyan */
    --muted-foreground: 187 30% 40%; /* Cyan Gray */
    --accent: 187 63% 53%; /* Same as Primary */
    --accent-foreground: 187 100% 97%; /* Light Cyan */
    --destructive: 0 70% 60%; /* Bright Red for Danger */
    --destructive-foreground: 0 100% 97%; /* Light Red */
    --border: 187 63% 53%; /* Cyan 500 */
    --input: 187 63% 53%; /* Cyan 500 */
    --ring: 187 63% 53%; /* Cyan 500 */
    --radius: 0.5rem;
    scroll-behavior: smooth;
  }

  .dark {
    --background: 210 16% 13%; /* Dark Cyan */
    --foreground: 187 100% 97%; /* Light Cyan */
    --card: 210 16% 13%; /* Dark Cyan */
    --card-foreground: 187 100% 97%; /* Light Cyan */
    --popover: 210 16% 13%; /* Dark Cyan */
    --popover-foreground: 187 100% 97%; /* Light Cyan */
    --primary: 187 63% 53%; /* Cyan 500 */
    --primary-foreground: 187 100% 97%; /* Light Cyan */
    --secondary: 187 25% 25%; /* Muted Cyan */
    --secondary-foreground: 187 100% 97%; /* Light Cyan */
    --muted: 187 30% 20%; /* Very Dark Cyan */
    --muted-foreground: 187 50% 70%; /* Lighter Cyan */
    --accent: 187 63% 53%; /* Same as Primary */
    --accent-foreground: 187 100% 97%; /* Light Cyan */
    --destructive: 0 70% 60%; /* Bright Red for Danger */
    --destructive-foreground: 0 100% 97%; /* Light Red */
    --border: 187 63% 53%; /* Cyan 500 */
    --input: 187 63% 53%; /* Cyan 500 */
    --ring: 187 63% 53%; /* Cyan 500 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hideIncrementor input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hideIncrementor input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  /* Firefox */
}

/* Hide scrollbar for WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 5px; /* Width of vertical scrollbar */
}
